.main {
	width: var(--container-width);
	margin: 100px auto 0;

	& .heroImg {
		width: 100%;
		height: 250px;
		img {
			object-fit: cover;
		}
	}

	& section {
		margin-top: 120px;
		&.intro {
			margin-top: 0;
		}
		& h2 {
			text-align: center;
			font-size: var(--mid-fontsize);
			color: var(--black);
			margin-bottom: 40px;
		}
	}
}
.intro {
	display: flex;
	justify-content: space-between;
	color: var(--black);
	margin-bottom: 50px;
	h1,
	p {
		margin-top: 40px;
	}
	h1 {
		width: 100%;
		max-width: 450px;
		font-size: var(--big-fontsize);
		font-weight: bold;
	}

	p {
		width: 50%;
		font-size: var(--fontsize);
        line-height: var(--mid-lineheight);
	}
}
.cultureSection {
	& > p {
		text-align: center;
		color: var(--lightgrey);
		&.below {
			margin: 0 auto;
			color: var(--black);
		}
	}
	& p {
		color: var(--lightgrey);
		margin: 0;
		font-size: var(--sm-fontsize);
		line-height: var(--mid-lineheight);
	}
	.cultures {
		display: flex;
		margin: 60px 0;
		justify-content: space-between;
        width: 100%;
		.culture {
			max-width: 300px;
			display: flex;
			flex-direction: column;
			&:first-child {
				margin-right: 20px;
			}
			&:last-child {
				margin-left: 20px;
			}
			& .cultureImg {
				width: 50px;
				height: 50px;
				object-fit: cover;
			}
			h3 {
				font-size: var(--fontsize);
				margin: 15px 0;
				height: 40px;
				font-weight: bold;
			}
		}
	}
	.join {
		display: block;
		width: max-content;
		margin: 20px auto;
		padding: 15px;
		border-radius: var(--sm-radius);
		font-size: var(--sm-fontsize);
		font-weight: bold;
		&:hover {
			color: var(--lightorange);
		}
	}
	@media (max-width: 550px) {
		h2,
		& > p {
			text-align: left;
		}
		.cultures {
			flex-wrap: wrap;
			margin-bottom: 20px;
			.culture {
				max-width: 100%;
                width: 100%;
                &, &:first-child, &:last-child {
                    margin: 0 0 30px;
                }
			}
		}
		.join {
			width: 100%;
			text-align: center;
		}
	}
}

.progressSection {
	.progressBlock {
		background-color: var(--whiteblue);
		width: 100%;
		display: flex;
		margin: 0 auto;
		flex-flow: column;
        align-items: center;
		.story {
			width: 75%;
			display: flex;
			position: relative;
			.date {
				border-right: 3px solid var(--maincolor);
				color: var(--maincolor);
				font-weight: bold;
				padding: 80px 50px 0 120px;
				// font-weight: bold;
			}
			.event {
				color: var(--black);
				padding: 80px 50px 0 50px;
			}
			&:last-child {
				.date,
				.event {
					padding-bottom: 80px;
				}
			}
			& p {
				margin: -5px 0 0;
				line-height: var(--mid-lineheight);
			}
			.icon {
				position: absolute;
				top: 65px;
				left: 190px;
				background-color: white;
				padding: 10px;
				border-radius: 50%;

				img {
					height: 25px;
					width: 25px;
				}
			}
			@media (max-width: 800px) {
				width: 100%;
			}
		}
	}
}

.pinkBg {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 600px;
	left: 0;
	background-color: var(--lightpink);
	margin-top: 200px;
	clip-path: polygon(0 9%, 100% 22%, 100% 91%, 0 100%);
	overflow: hidden;

	& > div {
		height: 250px;
		width: 250px;
		border-radius: 50%;
		&.leftCircle {
			background-color: var(--orange);
			margin-top: 500px;
			float: left;
			margin-left: 50px;
		}
		&.rightCircle {
			background-color: var(--maincolor);
			float: right;
			margin-top: 350px;
			margin-right: -50px;
		}
	}
}

.officesSection {
	.offices {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		color: var(--black);
		.office {
			width: 45%;
			border-radius: var(--sm-radius);
			height: 250px;
			background-color: white;
			box-shadow: var(--light-shadow);
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			color: var(--black);
			border: 1px solid var(--whitegrey);
			padding: 20px;
			margin-bottom: 20px;
			.countryImg {
				height: 70px;
				width: 70px;
			}
			span {
				text-align: center;
				display: block;
				&.countryName {
					font-size: var(--smmid-fontsize);
					font-weight: bold;
					margin: 15px 0;
				}
				&.address {
				}
			}
		}
	}
}

.investorsSection {
	.investors {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.investor {
			border: 1px solid var(--whitegrey);
			border-radius: var(--sm-radius);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			box-shadow: var(--light-shadow);
			width: 45%;
			height: 250px;
			margin-bottom: 40px;
			& img {
				width: 50%;
			}
		}
	}
}

.trialSection {
	background-color: var(--maincolor);
	padding: 70px 20px;
	border-radius: var(--sm-radius);
	h2 {
		color: white !important;
		margin-bottom: 20px !important;
	}
	div {
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		a {
			display: block;
			text-align: center;
			max-width: 190px;
			width: 45%;
			padding: 10px;
			border-radius: var(--sm-radius);
			font-size: var(--sm-fontsize);
			margin: 10px;
			&.demo {
				background-color: white;
				box-shadow: var(--light-shadow);
				color: black;
				font-weight: bold;
			}
			&.usecases {
				border: 1px solid white;
				color: white;
			}
			&:hover,
			&:focus {
				outline: 3px solid var(--lightorange);
			}
		}
		@media (max-width: 400px) {
			justify-content: center;
			& a {
				width: 100%;
			}
		}
	}
}

@media (max-width: 600px) {
	.officesSection {
		.offices {
			.office {
				width: 100%;
			}
		}
	}
	.investorsSection {
		.investors {
			.investor {
				width: 100%;
			}
		}
	}
	.trialSection {
        padding: 70px 10px;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        margin: 0 -20px;
		h2 {
			font-size: var(--smmid-fontsize);
		}
	}
}

@media (max-width: 768px) {
	.intro {
		h1 {
			font-size: var(--smmid-fontsize);
			max-width: 200px;
		}
	}
	.cultureSection {
		p.below {
			max-width: 400px;
		}
	}
}

@media (max-width: 500px) {
	.progressSection {
		margin-left: -20px;
		margin-right: -20px;
		.progressBlock {
			width: 100%;
			.story {
				.date {
					padding-left: 30px;
					padding-right: 30px;
				}
				.event {
					padding-left: 40px;
					padding-right: 40px;
				}
				.icon {
					left: 80px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.intro {
		flex-wrap: wrap;
		h1 {
			width: 100%;
			max-width: 100%;
		}
		p {
			width: 100%;
			margin-top: 20px;
		}
	}
}
