.header {
	background-color: white;
	padding: 10px 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	position: fixed;

	.wrapper {
		width: var(--desktop-container-width);
		margin: 0 auto;
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--fontsize);
		font-weight: bold;

		.brand {
			display: flex;
			align-items: center;
            border: 2px solid transparent;
			.logo {
				width: 30px;
				height: auto;
			}
			.name {
				width: 150px;
				margin-left: 10px;
				@media (max-width: 500px) {
					width: 120px;
				}
			}
			&:hover {
				border-color: var(--maincolor);
				border-radius: var(--sm-radius);
			}
		}

		.drawerToggler {
			display: none;
			button {
				border: none;
				background: none;
				&.open {
					width: 45px;
				}
			}
		}

		.bigScreenNav {
			ul {
				display: flex;
				li {
					a {
						color: var(--black);
                        margin: 0 15px;
                        border-bottom: 2px solid transparent;
						&:hover {
							border-color: var(--maincolor);
						}
					}
				}
			}
		}

		.others {
			display: flex;
			width: 240px;
			justify-content: space-between;
			align-items: center;
			a {
				border-radius: var(--sm-radius);
				padding: 10px 20px;
                font-size: var(--sm-fontsize);
				&.login {
					color: var(--maincolor);
					border: 1px solid var(--maincolor);
                }
                &:hover {
                    color: var(--lightorange);
                }
			}
		}

		@media (max-width: 1000px) {
			.bigScreenNav,
			.others.bigScreen {
				display: none;
			}
			.drawerToggler {
				display: block;
			}
		}
	}
}

.drawer {
	.drawerToggler {
		width: 100%;
		height: 40px;
		margin-top: 20px;
		button {
			&.close {
				width: 35px;
				float: right;
			}
		}
	}
	.smallScreenNav {
		ul {
			li {
				a {
					display: block;
					color: var(--black);
					margin: 15px 0;
				}
			}
		}
	}
	.others {
		&.smallScreen {
			flex-wrap: wrap;
			margin-top: 30px;
			height: 100px;
			max-width: 250px;
			width: 100%;
			a {
				margin: 20px 0;
			}
		}
	}
}
