.footer {
	margin-top: 40px;
	padding: 20px 0 0;
	position: relative;

	& h3 {
		margin: 0 0 10px;
	}
    a:hover {
        text-decoration: underline;
    }
}
.wrapperTop {
	width: var(--desktop-container-width);
	margin: 0 auto;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;


	@media (max-width: 550px) {
		flex-wrap: wrap;
	}
}
.brand {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 300px;
	margin-bottom: 60px;
	.logo {
		width: 30px;
	}
	.name {
		width: 100px;
		margin-left: 10px;
	}
	@media (max-width: 768px) {
		max-width: 200px;
		.name {
		}
	}
}
.quickLinksQroup {
	display: flex;
	width: 100%;
	justify-content: space-between;
	.quickLinks {
		margin: 0 0 50px;
		padding: 0 5px;
		* {
			color: var(--black);
		}
		h3 {
			font-size: var(--sm-fontsize);
		}
		a,
		span {
			display: block;
			font-size: var(--sm-fontsize);
			line-height: var(--mid-lineheight);
			margin: 10px 0;
		}
		a {
		}
	}

	@media (max-width: 350px) {
		.quickLinks {
			width: 100% !important;
		}
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;
		.quickLinks {
			width: 50%;
		}
	}
}

.wrapperBottom {
	background-color: var(--lightergrey);
	position: relative;
	overflow: hidden;
	height: 250px;
	.bottom {
		display: flex;
		justify-content: space-between;
		width: var(--desktop-container-width);
		margin: 0 auto;
		padding: 30px 0;
		.copyright {
			color: var(--black);
			a {
				display: inline-block;
				font-weight: bold;
				color: var(--black);
				margin-right: 20px;
			}
			span {
				margin-top: 30px;
				display: block;
				font-size: var(--sm-fontsize);
			}
		}
		.social {
			width: 120px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			.icon {
				width: 30px;
				height: 30px;
				border-radius: 50%;
                &:hover {
                    transform: scale(1.1);
                    border: 2px solid white;
                }
            }
		}
	}
	.vectors {
		margin-top: 50px;
		.circle {
			position: absolute;
			width: 150px;
			height: 150px;
			background-color: var(--orange);
			border-radius: 50%;
			right: 35%;
			bottom: -70px;
		}
		.wavy {
			position: relative;
			width: 100%;
			overflow: hidden;
			height: 100px;
			display: block;
			img {
				width: 100%;
				position: absolute;
				left: 0;
				&:last-child {
					bottom: -20px;
				}
			}
		}
	}
	@media (max-width: 400px) {
		height: 300px;
		.bottom {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			.copyright {
				order: 2;
				a {
					display: block;
					margin: 10px 0;
					text-align: center;
				}
			}
			.social {
				order: 1;
			}
		}
	}
}
