@import url("https://fonts.googleapis.com/css?family=Source + Sans + Pro");

body {
	margin: 0;
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

:root {
	--container-width: 90%;

	// colors
	--maincolor: #0688fa;
	--lightblue: #64b4fa;
	--fadedblue: rgba(33, 144, 241, 0.589);
	--whiteblue: #eff8ff;
	--lightgrey: #537089;
	--lightergrey: #f4f4f4;
	--whitegrey: #cdd8e2;
	--black: #002240;
	--lightpink: #fff5f5;
	--orange: #ffcc33;
	--lightorange: #ffd865;
	--fadedblack: rgba(77, 77, 77, 0.267);

	// sizes
	--sm-fontsize: 0.9rem;
	--fontsize: 1rem;
	--big-fontsize: 3rem;
	--mid-fontsize: 2rem;
	--smmid-fontsize: 1.4rem;
	--sm-linehieght: 1;
	--mid-lineheight: 1.5;
	--sm-radius: 3px;

	// shadows
	--light-shadow: 1px 1px 20px var(--fadedblack);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	box-sizing: border-box;
	font-family: "Source Sans Pro";
}
img {
	height: 100%;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a, button {
	text-decoration: none;
	padding: 3px;
	&:focus {
        outline: 3px solid var(--fadedblue);
	}
}
.bgMain {
	background-color: var(--maincolor);
	color: white;
}
